# Automatically decide if text
*	text=auto

# General rules for pretty much everything
*	eol=lf
*	indent-tabs=true
*	tab-width=4

# Exclude Git files from exporting
.gitattributes	export-ignore
.gitignore		export-ignore
.gitkeep		export-ignore
